*{
  margin: 0;
  padding: 0;
}

.container {
 width: 500%;
 height: 100px;
 background-color: #ccc;

 display: flex;
 flex-flow:  row wrap;
 justify-content: space-between;
 align-items: flex-start;
 align-content: center;
}
.item{
  background-color: red;
  flex-grow: 1;
}
.item2{
  background-color: green;
  flex-grow: 2;
}
