
.myClass{
    background: red;
}

.myClass1{
    background: red;
}  

.myClass2 {
    background: blue;
}  

/*classList.toggle() sample*/
.mystyle {
    width: 100%;
    padding: 25px;
    background-color: coral;
    color: white;
    font-size: 25px;
    box-sizing: border-box;
  }